.iconimg {
    width: 20px;
    height: 20px;
}

.totalstocks {
    display: flex;
    text-align: center;
    justify-content: center;
}

.graphrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.graph-button {
    padding: 5px;
    margin: 5px ;
    background-color: aliceblue;
    border-radius: 5px;
    border: 1px;
}