.buy-sell-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 20px auto;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
  }

  .total {
    text-align: center;
    margin: 10px;
    font-weight: bold;
  }
  
  .buy-sell-form select,
  .buy-sell-form input,
  .buy-sell-form button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }

  .rowform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .leftform {
    flex: 2;
    text-align: center;
  }

  .inpform {
    flex: 1;
    text-align: center;
    margin: 10px;
    align-self: flex-start;
  }

  .buybtn {
    background-color: #2962ff;
    margin: 10px;
  }
  
  .buy-sell-form select {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buy-sell-form input {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buy-sell-form button {
    /* background-color: #4CAF50; */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-sell-form button:hover {
    background-color: #45a049;
  }